.collapsing-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $margin-m-size 0;

  @media only screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }

  > div,
  > form {
    @media only screen and (min-width: $tablet-breakpoint) {
      margin: 0;
      width: 48%;
    }
    width: 100%;

    &:first-child {
      margin-bottom: $margin-m-size;
    }
  }
}
