.float--right-half {
  float: right;
  margin: $margin-s-size;
  margin-right: 0;
  width: 50%;

  @media screen and (min-width: $tablet-breakpoint) {
    margin: $margin-m-size;
  }
}

.float--no-margin-top {
  margin-top: 0;
}
