.nav-bar {
  display: flex;
  flex-direction: row;
  font-size: $l-size;
  justify-content: space-around;

  a {
    color: #000;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;
    text-decoration: underline;
  }
}
