.nav-bar {
  background-color: #222;
  display: flex;
  flex-direction: row;
  font-size: $l-size;
  justify-content: space-around;
  margin: $margin-m-size 0;

  a {
    color: #fff;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;
    text-decoration: underline;
  }
}
