.site-header {
  padding-top: $margin-m-size; // Allows any hash redirect to include whitespace above h1
  text-align: center;

  h1,
  h2 {
    margin: 0;
  }
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}
