.slider {
  height: 56vw; // Set in relation to width of specific use case
  margin: 0 auto;

  max-height: 40rem; // Set in relation to width of specific use case
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider--fullscreen {
  height: 56vw;
  max-height: none;
  width: 100vw;
  @media (min-width: $desktop-breakpoint) {
    height: 100vh;
  }
}

.slider__overlay-container {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.slider__overlay {
  text-align: center;
  text-shadow: 1rem 1rem 4.5rem #000;

  h1 {
    font-size: 3.6rem; // Set according to specific use case
    margin: 0;
  }

  h2 {
    font-size: 2.4rem; // Set according to specific use case
    margin: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    h1 {
      font-size: 4.8rem; // Set according to specific use case
    }

    h2 {
      font-size: 3.6rem; // Set according to specific use case
    }
  }
}

.slider__overlay--fullscreen {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  @media (min-width: $desktop-breakpoint) {
    h1 {
      font-size: 10vh;
    }

    h2 {
      font-size: 5vh;
    }
  }
}

.slider__starting-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slider__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slider__dot-row {
  align-items: center;
  bottom: 25px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.slider__dot {
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  padding: 10px;
}

.slider__arrow {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  transform: scale(1.3);
  transition: transform ease-in 0.1s;
  width: 20px;
  z-index: 11;

  &:hover {
    transform: scale(1.8);
  }
}

.slider__arrow > img {
  &:focus {
    outline: 0;
  }
}
