* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: $m-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin sans';
}

button {
  cursor: pointer;
}
