.hidden {
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1000;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.font-weight--light {
  font-weight: 200;
}

.grow-on-focus {
  &:focus,
  &:focus-visible {
    outline: none;
    transform: scale(2);
  }
}
